* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
  background-image: url(https://i.postimg.cc/yNhRkqsn/pexels-frank-cone-2258536.jpg);
  background-size: cover;
}

.login {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
}

.log {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  font-size: 15px;
  padding: 10px 10%;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 25px;
}

.btn {
  text-decoration: none;
  background-color: transparent;
  color: black;
  align-items: center;
  border: 3px solid black;
  font-size: 15px;
  padding: 15px 10%;
  width: 100%;
  transition: ease-in 0.3s;
  margin-top: 5%;
  border-radius: 25px;
}

.btn:hover {
  background-color: black;
  color: white;
}

.head {
  text-transform: uppercase;
  font-size: 20px;
}

.regi {
  margin-top: 2%;
  display: flex;
}

.regi a {
  text-decoration: none;
}
.button {
  text-decoration: none;
}
